.Navbar{
    width: 100%;
    display: flex;
    padding: 15px;
    background-color: gainsboro;
    justify-content: space-between;
}

.menubar{
 display: flex;
 gap: 40px;
}

.menubar input{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
    outline: none;
}

.menubar .menu{
    display: flex;
    gap: 20px;
}